# SQLAlchemy and ORM

##  SQLAlchemy

### 이전에 만들어 놓은 DB Loading

In [1]:
from sqlalchemy import create_engine, MetaData

In [2]:
engine = create_engine("sqlite:///mydb.db", echo=True)
# 바로 전 chapter에서 생성해놓은 mydb를 불러온다.

In [3]:
conn = engine.connect() # 엔진에 connection을 준다.

2018-10-08 18:43:30,061 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-10-08 18:43:30,089 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,099 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-10-08 18:43:30,103 INFO sqlalchemy.engine.base.Engine ()

In [4]:
metadata = MetaData(bind=engine, reflect=True) # metadata 생성
#미리 저장해둔 테이블 및 스키마들 가져옴

2018-10-08 18:43:30,748 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-10-08 18:43:30,750 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,757 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-10-08 18:43:30,759 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,764 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-10-08 18:43:30,766 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,770 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-10-08 18:43:30,772 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,775 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-10-08 18:43:30,776 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,786 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-10-08 18:43:30,788 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,791 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-10-08 18:43:30,793 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,796 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-10-08 18:43:30,798 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,801 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-10-08 18:43:30,803 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,805 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-10-08 18:43:30,807 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,810 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-10-08 18:43:30,812 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,815 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-10-08 18:43:30,817 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,825 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-10-08 18:43:30,826 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,829 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-10-08 18:43:30,831 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,834 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-10-08 18:43:30,836 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,840 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-10-08 18:43:30,843 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,848 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-10-08 18:43:30,849 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,853 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-10-08 18:43:30,854 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,857 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-10-08 18:43:30,858 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,862 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-10-08 18:43:30,865 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,869 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-10-08 18:43:30,871 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,873 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-10-08 18:43:30,875 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,886 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-10-08 18:43:30,888 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,893 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-10-08 18:43:30,895 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,898 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-10-08 18:43:30,900 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,902 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-10-08 18:43:30,904 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,908 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-10-08 18:43:30,910 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,913 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-10-08 18:43:30,915 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,918 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-10-08 18:43:30,920 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,923 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-10-08 18:43:30,926 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,930 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2018-10-08 18:43:30,933 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,936 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("addresses")
2018-10-08 18:43:30,939 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,943 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  """Entry point for launching an IPython kernel.

2018-10-08 18:43:30,945 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,950 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-10-08 18:43:30,952 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,956 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-10-08 18:43:30,958 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,961 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2018-10-08 18:43:30,963 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,966 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-10-08 18:43:30,969 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,972 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-10-08 18:43:30,974 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,977 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-10-08 18:43:30,981 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,984 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-10-08 18:43:30,986 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,990 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2018-10-08 18:43:30,992 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:30,995 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2018-10-08 18:43:30,997 INFO sqlalchemy.engine.base.Engine ()
2018-10-08 18:43:31,000 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2018-10-08 18:43:31,002 INFO sqlalchemy.engine.base.Engine ()

In [5]:
metadata.reflect(bind=engine) #reflect() 함수를 통해 reflect함.
#현재 메타데이터에는 바인딩한 테이블들이 있을 것이다.

2018-10-08 18:43:31,382 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-10-08 18:43:31,387 INFO sqlalchemy.engine.base.Engine ()

In [6]:
for row in metadata.tables:
    print(row) #테이블들을 갖고옴.

Album
Artist
Genre
Track
addresses
users

In [7]:
album = metadata.tables["Album"] # metadata의 "Album" 테이블을 갖고 온다.

In [8]:
result = conn.execute(album.select()) #이전에 저장했던 것들을 다시 로딩할 수 있다.

2018-10-08 18:43:32,930 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2018-10-08 18:43:32,937 INFO sqlalchemy.engine.base.Engine ()

# ORM

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///orm_test.db", echo=True)
#처음에 무조건 엔진을 먼저 생성해준다.

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base() #빈 base를 만든다.

In [5]:
from sqlalchemy import Column, Integer, String, ForeignKey

In [6]:
class Artist(Base):
    __tablename__ = "artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    
class Album(Base):
    __tablename__ = "album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("artist.id"))

class Genre(Base):
    __tablename__ = "genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Track(Base):
    __tablename__ = "track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey("album.id"))
    genre_id = Column(Integer, ForeignKey("genre.id"))

In [7]:
Base.metadata.create_all(engine) # 위에서 정의한 class를 table로서 메타데이터 생성

2018-10-11 16:01:41,637 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-10-11 16:01:41,672 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,682 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-10-11 16:01:41,688 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,699 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-10-11 16:01:41,703 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,710 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-10-11 16:01:41,713 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,716 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-10-11 16:01:41,718 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,721 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-10-11 16:01:41,722 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,725 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-10-11 16:01:41,727 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,742 INFO sqlalchemy.engine.base.Engine COMMIT
2018-10-11 16:01:41,744 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-10-11 16:01:41,746 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,757 INFO sqlalchemy.engine.base.Engine COMMIT
2018-10-11 16:01:41,761 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-10-11 16:01:41,765 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,777 INFO sqlalchemy.engine.base.Engine COMMIT
2018-10-11 16:01:41,780 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-10-11 16:01:41,782 INFO sqlalchemy.engine.base.Engine ()
2018-10-11 16:01:41,792 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
artist1 = Artist(name="Led Zepplin")
artist2 = Artist(name="AC/DC")

In [9]:
artist1 #가상환경이기 때문에 session을 통해서 넣어줘야한다.

In [10]:
from sqlalchemy.orm import sessionmaker

In [11]:
Session = sessionmaker(bind=engine) # engine을 binding해서 세션을 만들어 준다.

In [12]:
session = Session() # 세션 객체 생성

In [13]:
session.add_all([artist1, artist2]) # entity를 세션에 넣어준다.
session.commit() # 그리고 세션 내에 있는 데이터를 commit해서 DB를 update해준다.

2018-10-11 16:01:45,414 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-11 16:01:45,422 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-10-11 16:01:45,427 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2018-10-11 16:01:45,439 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-10-11 16:01:45,443 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2018-10-11 16:01:45,450 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
session.dirty # DB와 세션이 싱크가 맞는지 확인하도록 해준다.
# 수정 되었지만 아직 commit되지 않은 것을 알려줌.
#그래서 현재 commit 해야하는지 확인할 수 있도록 도와준다.

IdentitySet([])

In [15]:
session.new # 세션 내에서 'new'로 표시된 모든 인스턴스의 집합

IdentitySet([])

In [16]:
artist1.name = "xyz"

In [17]:
session.dirty #현재 바뀐 값이 있는데 DB에 반영되지 않았다고 알려준다. -> commit해줘야함

IdentitySet([<T'artist(name='xyz')>])

In [18]:
session.commit()

2018-10-11 16:01:48,367 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-11 16:01:48,375 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id
FROM artist
WHERE artist.id = ?
2018-10-11 16:01:48,380 INFO sqlalchemy.engine.base.Engine (1,)
2018-10-11 16:01:48,388 INFO sqlalchemy.engine.base.Engine UPDATE artist SET name=? WHERE artist.id = ?
2018-10-11 16:01:48,393 INFO sqlalchemy.engine.base.Engine ('xyz', 1)
2018-10-11 16:01:48,400 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
album = [Album(title="IV", artist_id = artist1.id),
        Album(title="Who Made Who", artist_id = artist2.id)]

session.add_all(album)
session.commit()

2018-10-11 16:01:49,192 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-11 16:01:49,198 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-10-11 16:01:49,203 INFO sqlalchemy.engine.base.Engine (1,)
2018-10-11 16:01:49,213 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-10-11 16:01:49,217 INFO sqlalchemy.engine.base.Engine (2,)
2018-10-11 16:01:49,227 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-10-11 16:01:49,231 INFO sqlalchemy.engine.base.Engine ('IV', 1)
2018-10-11 16:01:49,239 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-10-11 16:01:49,243 INFO sqlalchemy.engine.base.Engine ('Who Made Who', 2)
2018-10-11 16:01:49,249 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
session.add_all([
    Album(title="1", artist_id=1),
    Album(title="2", artist_id=2),
])

In [21]:
session.add_all([
    Genre(name="1"),
    Genre(name="2"),
])

In [22]:
session.add_all([
    Track(title="1-1", album_id=1, genre_id=1),
    Track(title="1-2", album_id=1, genre_id=2),
    Track(title="2-1", album_id=2, genre_id=1),
    Track(title="2-2", album_id=2, genre_id=2),
])

# 세션 내에 모든 주어진 collection들을 추가해주는 add_all()

In [23]:
temp = Track(title="3-1", album_id=3, genre_id=1)

In [24]:
type(temp)

__main__.Track

In [25]:
session.add(temp)

In [27]:
temp.id

In [28]:
session.new

IdentitySet([<__main__.Album object at 0x000001B6F2473E10>, <__main__.Album object at 0x000001B6F2473780>, <__main__.Genre object at 0x000001B6F2473DD8>, <__main__.Genre object at 0x000001B6F2473BE0>, <__main__.Track object at 0x000001B6F249AB00>, <__main__.Track object at 0x000001B6F249AB70>, <__main__.Track object at 0x000001B6F249ABE0>, <__main__.Track object at 0x000001B6F249AC50>, <__main__.Track object at 0x000001B6F249A2E8>])

In [29]:
session.commit() #메모리상에서 물고 있던 데이터를 DB에 적용하는 것임.

2018-10-11 16:02:22,138 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-11 16:02:22,145 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-10-11 16:02:22,149 INFO sqlalchemy.engine.base.Engine ('1',)
2018-10-11 16:02:22,160 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-10-11 16:02:22,165 INFO sqlalchemy.engine.base.Engine ('2',)
2018-10-11 16:02:22,173 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-10-11 16:02:22,177 INFO sqlalchemy.engine.base.Engine ('1', 1)
2018-10-11 16:02:22,184 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-10-11 16:02:22,188 INFO sqlalchemy.engine.base.Engine ('2', 2)
2018-10-11 16:02:22,197 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-10-11 16:02:22,202 INFO sqlalchemy.engine.base.Engine ('1-1', 1, 1)
2018-10-11 16:02:22,209 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-10-11 16:02:22,214 INFO sqlalchemy.engine.base.Engine ('1-2', 1, 2)
2018-10-11 16:02:22,218 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-10-11 16:02:22,221 INFO sqlalchemy.engine.base.Engine ('2-1', 2, 1)
2018-10-11 16:02:22,225 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-10-11 16:02:22,227 INFO sqlalchemy.engine.base.Engine ('2-2', 2, 2)
2018-10-11 16:02:22,230 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-10-11 16:02:22,233 INFO sqlalchemy.engine.base.Engine ('3-1', 3, 1)
2018-10-11 16:02:22,236 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
for row in session.query(Artist): #query 날리는 법
    print(row.id, row.name)

2018-10-11 16:02:25,107 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-11 16:02:25,113 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
2018-10-11 16:02:25,117 INFO sqlalchemy.engine.base.Engine ()
1 xyz
2 AC/DC

foreign key 설정해서, instance