# SQLite

In [1]:
import sqlite3

In [2]:
sqlite3.version # package의 버전

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [4]:
type(sqlite3.version)

str

In [5]:
type(sqlite3.version_info)

tuple

In [6]:
sqlite3.sqlite_version #런타임 시의 버전

'3.14.2'

In [7]:
sqlite3.sqlite_version_info

(3, 14, 2)

In [8]:
conn = sqlite3.connect(':memory:') #DB 커넥션 만들어줌 꼭 필요!!!!

In [9]:
conn

In [10]:
cur = conn.cursor() # connection에 대해 명령을 주고받는 역할을 하는 cursor 생성

SQLite에서는 5가지의 데이터 타입 제공<br>
NULL,<br> INTEGER,<br> REAL,<br> TEXT(=앞에서 배운 CLOB(가변형), 그래서 다른 데서 쓸 때는 크기를 명시해주어야 한다. 다만 SQLite에서는 가변형이라서 필요없음.),<br> BLOB (= Byte단위의 큰 데이터. 이미지 같은 것들도 넣을 수 있다)

In [11]:
cur.execute('create table people (name_last, age)') # SQL statement 실행해줌.

In [12]:
who = "Yeltsin"
age = 72

In [13]:
who

'Yeltsin'

In [14]:
age

72

In [15]:
cur.execute('insert into people values (?, ?)', (who, age)) #insert문

In [16]:
cur.execute("select * from people where name_last=:who and age=:age", {"who": who, "age": age})

In [17]:
print(cur.fetchone()) #fetchone()은 가져온 데이터를 하나 하나씩 출력해줌

('Yeltsin', 72)

In [18]:
print(cur.fetchone()) #이미 꺼내 버렸으므로 다시 fetchone()을 하면 가져올 값이 없다. while문에 넣을 수 있다.

None

In [19]:
sql = "insert into people values (?, ?)"
data = [('1', 1), ('2', 2), ('3', 3)] #data를 list형태로 만들어준다.

cur.executemany(sql, data) # executemany는 data크기만큼 sql문을 실행해준다.

In [20]:
cur.executescript
("""create table person ( first_name text primary_key, last_name text not null );
insert into person values('name', 'kim');""")
#여러 sql문을 한꺼번에 실행해줌. 여기서 select문을 쓸 경우 cursor가 어떤 데이터를 가져와야할지 판단할수 없기 때문에 select문은 여기서 쓰지 않는다.

"create table person ( first_name text primary_key, last_name text not null );\ninsert into person values('name', 'kim');"

In [21]:
cur.execute("select * from people")

In [22]:
cur.fetchall() #가져오는 모든 데이터를 리턴해준다.

[('Yeltsin', 72), ('1', 1), ('2', 2), ('3', 3)]

In [23]:
conn.close() #connection을 닫기

In [24]:
conn = sqlite3.connect("test.db") 
#다른 환경에서 쓸 때 그저 이러한 connection file을 주기만 하면 되기 때문에 굉장히 편하다

In [25]:
cur = conn.cursor()

In [26]:
conn.execute(
"""
    create table company (
        id int primary key not null,
        name text not null,
        age int not null,
        address char(50),
        salary real not null
    )
""") # company라는 이름의 table을 생성한다.
# id(primary key), name, age, address, salary 라는 attribute를 지닌다.

print("만들어짐 핳")

만들어짐 핳

In [27]:
conn.execute("drop table company") #  company라는 이름의 table을 drop시켰다.

In [29]:
conn.execute(
"""
    create table company (
        id int primary key not null,
        name text not null,
        age int not null,
        address char(50),
        salary real not null
    )
""") # 위에서 company라는 table을 드롭시켰기 때문에 다시 company table을 생성해준다.

In [30]:
conn.execute("insert into company (id, name, age, address, salary) values (1, 'Paul', 32, 'California', 20000.00)");
conn.execute("insert into company (id, name, age, address, salary) values (:id, :name, :age, :address, :salary)",
            {'id':2, 'name':'Allen', 'age':25, 'address':'Texas', 'salary':15000.00});
data = [(3, 'Teddy', 23, 'Norway', 200000.00), (4, 'Mark', 25, 'Rich-Mond', 65000.00)]

conn.executemany("insert into company (id, name, age, address, salary) values (?,?,?,?,?)" ,data);

conn.executescript("""
insert into company (id, name, age, address, salary) values (5, 'Mark1', 25, 'Rich-Mond', 65000.00);
insert into company (id, name, age, address, salary) values (6, 'Mark2', 25, 'Rich-Mond', 65000.00);
""");

conn.commit() #commit()의 경우 여러 sql문을 끊어주는 dump역할 해줌. 트랜잭션을 끝내준다.
print("제대로 만들어 졌지롱 껄껄")

제대로 만들어 졌지롱 껄껄

cursor 지정해주지 않고 connection으로 바로 sql문 실행할 수 있다.

In [35]:
temp = conn.execute("select * from company") # company table내에 있는 모든 항목들을 가져온다.

In [32]:
type(temp) 
# connection을 바로 실행시에 타입을 보면 cursor가 나온다. cursor를 execute가 가져온 것이다.

sqlite3.Cursor

In [33]:
for row in temp: #결과적으로 fetch한 결과와 똑같다.
    print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 200000.0)
(4, 'Mark', 25, 'Rich-Mond', 65000.0)
(5, 'Mark1', 25, 'Rich-Mond', 65000.0)
(6, 'Mark2', 25, 'Rich-Mond', 65000.0)

In [36]:
for row in temp: #결과적으로 fetch한 결과와 똑같다.
    print(type(row), row)

<class 'tuple'> (1, 'Paul', 32, 'California', 20000.0)
<class 'tuple'> (2, 'Allen', 25, 'Texas', 15000.0)
<class 'tuple'> (3, 'Teddy', 23, 'Norway', 200000.0)
<class 'tuple'> (4, 'Mark', 25, 'Rich-Mond', 65000.0)
<class 'tuple'> (5, 'Mark1', 25, 'Rich-Mond', 65000.0)
<class 'tuple'> (6, 'Mark2', 25, 'Rich-Mond', 65000.0)

In [37]:
cid = 1
conn.execute("update company set salary=25000.00 where ID = :id", {"id":cid}) #dictionary 형태로 파라미터 줌

#update의 경우 기존의 데이터를 변경하는 것이기 때문에 무결성의 원칙에 맞는지 확인 해야한다.
#그래서 commit()으로 트랜잭션을 해주어야 DB에 적용이 될 수 있다.

* 무결성의 원칙
 : 데이터의 무결성은 데이터의 정확성, 일관성, 유효성이 유지되는 것을 말한다.

 1. 개체 무결성 (Entity integrity)  
 : 모든 테이블이 기본 키(primary key)로 선택된 필드(column)을 가져야 한다. 기본 키로 선택된 필드는 고유한 값을 가져야 하며, Null 값은 허용하지 않는다.  
  
 2. 참조 무결성 (Referential integrity)  
 : RDBMS 모델에서 참조 무결성은 참조 관계에 있는 두 테이블의 데이터가 항상 일관된 값을 갖도록 유지되는 것을 말한다.  
    
 3. 도메인 무결성 (Domain integrity)  
 : 도메인 무결성은 테이블에 존재하는 필드의 무결성을 보장하기 위한 것으로 필드의 타입, Null값의 허용 등에 대한 사항을 정의하고, 올바르게 데이터가 입력되었는지 확인하는 것이다. 가령 전화번호 필드에 이름이 입력되었다면 도메인 무결성이 깨지는 것이다. DBMS의 기본값 설정, NOT NULL 옵션 등의 제약 사항으로 도메인 무결성을 보장할 수 있다.  
   
 4. 무결성 규칙 (Integrity rule)  
 : 데이터베이스에서 무결성 규칙은 데이터의 무결성을 지키기 위한 모든 제약 사항을 말한다. business rule의 경우 DB를 이용하는 각각의 유저에 따라 다르게 적용되지만, 무결성 규칙은 데이터베이스 전체에 공통적으로 적용되는 규칙이다.

In [38]:
conn.commit() #트랙잭션을 끝내주면서 DBBrowser for SQLite에서 바뀜을 확인할 수 있다.

In [39]:
conn.execute("delete from company where id=2")
# company 라는 table에서 id가 2인 item을 삭제해준다.

In [40]:
conn.commit() #update처럼 동일하게 반영하고 싶을 때는 commit을 해주어야 한다.
#하지만 과도한 commit()은 오버헤드를 유발한다.

암묵적으로 commit을 해주지만 명시적으로 commit()을 해주는 것이 좋다

cursor를 미리 만들어서 계속 쓰는 방법이 있고,<br>
conn.execute()를 저장해서 cursor로 쓰는 방법이 따로 있다.

In [41]:
import sqlite3 as sql # sqlite3 import

con = None

try:
    con = sql.connect('test.db') # test.db라는 파일로 connection을 만들어준다.
    cur = con.cursor() # db를 다룰 커서 생성
    cur.execute('select sqlite_version()') # sqlite의 버전을 select해준다.
    data = cur.fetchone() # 실행한 sql문의 결과값에 대해서 fetch해준다. 가져온다.
    print("SQLite Version : ", data) 

except Exception as e:
    print("Error: ", e)

finally:
    if con:
        con.close()

SQLite Version :  ('3.14.2',)

In [42]:
con = sql.connect('test.db') 
# 이전에 생성한 test.db파일에 대해서  connection을 만들어준다.

cars = [
    (1, 'Audi', 53642),
    (2, 'Mercedes', 57127),
    (3, 'Skoda', 9000),
    (4, 'Volvo', 29000),
    (5, 'Bentley', 350000),
    (6, 'Hummer', 41400),
    (7, 'Volkswagen', 21600)
] # cars라는 리스트 내에 튜플 형태로 entity들을 만들어 주었다.

with con:
    cur = con.cursor() # connection에 cursor를 연결해준다.
    cur.execute("create table Cars(id int primary key, name text not null, price int not null)")
    # id(primary key), name, price라는 Column을 지닌 Cars라는 테이블을 생성해준다.
    cur.executemany("insert into Cars values(?,?,?)", cars)
    # 해당 테이블에 대해서 entity들을 삽입한다.

In [43]:
try:
    con = sql.connect('test.db')
    cur = con.cursor()
    cur.executescript("""
    drop table if exists Cars;
    create table Cars(id int primary key, name text, price int);
    insert into Cars values(1, 'Audi', 52642);
    insert into Cars values(2, 'Mercedes', 57127);
    insert into Cars values(3, 'Skoda', 9000);
    insert into Cars values(4, 'Volvo', 29000);
    insert into Cars values(5, 'Bentley', 350000);
    insert into Cars values(6, 'Citroen', 21000);
    insert into Cars values(7, 'Hummer', 41400);
    insert into Cars values(8, 'Volkswagen', 21600);
    """) # 문자열으로 한꺼번에 여러 sql문들을 실행해주는 executescript
    
    con.commit() # 커서에서 실행한 sql문들을 db파일에 적용(commit)해준다.
    
except Exception as e:# 만약 exception이 뜬다면
    if con:
        con.rollback()  # rollback()으로 sql문 실행 이전으로 돌려준다.
    print("Error: ", e)

finally:
    if con:
        con.close() # 마지막으로 db와의 connection을 닫아준다.

In [44]:
con = sql.connect(':memory:') # db에 대해서 connection을 만들어준다.

with con: #with scope가 끝나면 con.close()가 자동으로 되는 것이다.
    cur = con.cursor() # 커넥션에 대해서 cursor를 생성해준다.
    cur.execute("create table Friends(Id integer primary key, name text);")
    cur.execute("insert into Friends(name) values ('Tom');")
    cur.execute("insert into Friends(name) values ('Rebecca');")
    cur.execute("insert into Friends(name) values ('Jim');")
    cur.execute("insert into Friends(name) values ('Robert');")
    # Friends라는 테이블을 생성하고 entity들을 삽입한다.
    
    lid  = cur.lastrowid # cursor를 통해 삽입한 마지막 열의 id
    print("The last Id of the inserted row is", lid)

The last Id of the inserted row is 4

In [45]:
con = sql.connect('test.db')

with con:
    cur = con.cursor()
    cur.execute("select * from Cars") # Cars라는 테이블의 모든 엔트리를 가져온다.
    
    while True:
        row = cur.fetchone() # 가져온 엔트리들 중에 하나를 fetch 해준다.
        
        if row == None:
            break
        
        print(row[0], row[1], row[2]) # 가져온 entry를 출력해준다.

1 Audi 52642
2 Mercedes 57127
3 Skoda 9000
4 Volvo 29000
5 Bentley 350000
6 Citroen 21000
7 Hummer 41400
8 Volkswagen 21600

In [46]:
con = sql.connect('test.db')

with con:
    con.row_factory = sql.Row
    
    cur = con.cursor()
    cur.execute("select * from Cars")
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row["Id"], row["Name"], row["Price"]) #dictionary형식으로 갖고 올 수 있다.
        #내부적으로 메소드 오버로딩이 되어 있을 것.

1 Audi 52642
2 Mercedes 57127
3 Skoda 9000
4 Volvo 29000
5 Bentley 350000
6 Citroen 21000
7 Hummer 41400
8 Volkswagen 21600

In [51]:
uId = 1
uPrice = 62300

con = sql.connect('test.db')

with con:
    cur = con.cursor()
    # 여러 column에 대해서 sql문 쓸 수 있는 방법 1 
    cur.execute('update Cars set Price = ? where Id = ?', (uPrice, uId))
    print("Number of rows updated: ", cur.rowcount)

Number of rows updated:  1

In [52]:
uId = 4
con = sql.connect('test.db')

with con:
    cur = con.cursor()
     # 여러 column에 대해서 sql문 쓸 수 있는 방법 2
    cur.execute("select Name, Price from Cars where Id=:Id", {"Id": uId})
    row = cur.fetchone()
    print(row[0], row[1])

Volvo 29000