# Python

# 2018-07-05

### function

람다식(=익명함수) : 람다'식'이기 때문에 함수에 인자로 넣을 수 있게 된다.

In [33]:
def moon_sun():
    pass # pass는 아무것도 안하는것임.

#파이썬에서는 return을 안써도 된다. But 가능하면 return을 쓸 것.

In [34]:
def moon_sun2():
    print(0)
    #return None이 암시적으로 숨어있다.

In [35]:
def moon_sun3():
    return 0

In [36]:
1+ moon_sun2() # 0이 출력되고 에러뜸.. 이유는??? None type과 int type에 대해서 + 연산자를 사용할 수 없음.

0

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [37]:
import dis

In [38]:
dis.Bytecode() #python에서는 상수가 없다. 그대신 메소드에서 첫째글자가 대문자이면 상수처럼 취급

TypeError: __init__() missing 1 required positional argument: 'x'

In [39]:
dis.dis(moon_sun3) #dis는 내부구조가 어떻게 돌아가는지 확인할 때 사용한다. #java에서 reflect()가 내부구조 확인할 때 쓰인다.

  2           0 LOAD_CONST               1 (0)
              2 RETURN_VALUE

In [40]:
def moon_sun(i): #i는 parameter
    return i

moon_sun(3) # 3은 argument

3

In [41]:
def moon_sun(x,y):
    return x,y

In [42]:
moon_sun(1,3) #이렇게 순서 맞춰서 하는것이 positional한 방법

(1, 3)

In [43]:
moon_sun(y=1, x=3) #이렇게 변수명을 넣어서 순서를 안맞춰도 되는 방법 -> keyword 방식

(3, 1)

In [44]:
def moon_sun(x,y,*z): #*는 나머지 애들을 리스트 형식으로 출력해줌
    return x,y,z

In [45]:
moon_sun(1,23,3,4,5,2,34,"11",['a']) # x = 1, y = 23, z는 나머지

(1, 23, (3, 4, 5, 2, 34, '11', ['a']))

In [46]:
def moon_sun(x,*y,z): #*는 함수 파라미터로 넣어줄 때 제일 뒤쪽에 넣어줘야함.
    return x,y,z

In [47]:
moon_sun(1,23,3,4,5,2,34,"11",['a'])

TypeError: moon_sun() missing 1 required keyword-only argument: 'z'

In [48]:
# 다만 중간에 *를 쓰려면 *다음에는 무조건 keyword를 붙여줘야한다.

In [49]:
# keyword만 parameter로 넣고 싶을 때
def moon_sun(*,x,y): #이름없이 *가 있을 때는 keyword방식만 가능하다.
    return x,y

In [50]:
moon_sun(2,2) # positional한 방식으로 실행할 경우 이렇게 에러가 뜬다.

TypeError: moon_sun() takes 0 positional arguments but 2 were given

In [51]:
moon_sun(x=2,y=2)

(2, 2)

In [52]:
moon_sun(y=2) #개수가 안맞아서 에러가 뜬다. 함수의 모양(signature)를 맞춰야한다.

TypeError: moon_sun() missing 1 required keyword-only argument: 'x'

In [53]:
def moon_sun(x=3, y): # syntax error (= compile error) 가 뜬다. <- 파라미터를 초기화 할 때는 뒤에 것 부터 초기화 해준다.
    return x,y

SyntaxError: non-default argument follows default argument (<ipython-input-53-3a6b2b52330a>, line 1)

In [54]:
def moon_sun(x, y=3):
    return x,y

In [55]:
import pandas as pd
pd.read_csv #snake 방식 (<-함수)

In [56]:
def moon_sun(x,y=3,z=1):
    return x,y,z

In [57]:
moon_sun(7)

(7, 3, 1)

In [58]:
moon_sun(7,z=5) #keyword 방식으로 순서 상관없이 parameter값을 넣어줄 수 있다.

(7, 3, 5)

In [59]:
def moon_sun(x or 3):
    return x

SyntaxError: invalid syntax (<ipython-input-59-4c26c0401d69>, line 1)

In [60]:
moon_sun(7 or 23) #parameter로는 or을 쓸 수 없지만 argument로는 or이 들어갈 수 있다.

(7, 3, 1)

In [61]:
a = input("입력 : ")
moon_sun(a or 23) #입력한거 그대로 들어감

입력 : asd

('asd', 3, 1)

In [62]:
def moon_sun(x):
    return x

In [63]:
x,_,_ = (2,3,2) # x = 2 -> _= 3 -> _ = 2

In [64]:
_ # _는 쓸모없는 값을 지칭

2

In [65]:
def moon_sun(x, *z):
    return x,z

In [66]:
moon_sun(1,23,2,3,2)

(1, (23, 2, 3, 2))

In [67]:
moon_sun(1,*(23, 2, 3, 2)) # *를 넣으면 한꺼번에 넣을 수 있게 된다.

(1, (23, 2, 3, 2))

Container 지만 sequence가 아닌 것 -> dictionary, set, frozenset

sequence인데 container가 아닌 것 -> String 3개(string, bytes, bytearray), range

In [68]:
moon_sun(1,*list({23, 2, 3, 20}))

(1, (2, 3, 20, 23))

In [69]:
moon_sun(1,*set({23, 2, 3, 20}))

(1, (2, 3, 20, 23))

In [70]:
moon_sun(1,*frozenset({23, 2, 3, 20}))

(1, (2, 3, 20, 23))

In [71]:
moon_sun(1,*"aaaaaa")

(1, ('a', 'a', 'a', 'a', 'a', 'a'))

In [72]:
#dictionary 같은 경우 들어가지 않는다.

list()안에 iterable 넣을 수 있다.

In [73]:
list('abcde') #위의 기법과 비슷하다.

['a', 'b', 'c', 'd', 'e']

In [74]:
list(1,2,3,4) # 함수 인자로 1 2 3 4 하나씩 들어간다 그래서 에러가 뜬다

TypeError: list() takes at most 1 argument (4 given)

In [75]:
1,2,3,4

(1, 2, 3, 4)

In [76]:
list({1,2,3,4}) #그래서 저렇게 iterable한 타입으로 넣어주어야 한다.

[1, 2, 3, 4]

In [77]:
def moon_sun(x,**z): #함수 파라미터에 **가 있으면
    return x,z

In [78]:
moon_sun(1,a=2,y=3) #a:2 와 y:3은 dictionary로 들어간다

(1, {'a': 2, 'y': 3})

In [79]:
def moon_sun(x, **z): #매뉴얼에는 안나와 있는데 부가기능 넣을때
    if 'a' in z: #in은 membership 연산자
        print(z['a'])
    return x,z

In [80]:
moon_sun(1, a=2, y=3)

2

(1, {'a': 2, 'y': 3})

In [81]:
def moon_sun(x, **y, *z):
    return x,y,z

SyntaxError: invalid syntax (<ipython-input-81-3da6c9a9392a>, line 1)

In [82]:
def moon_sun(x, *y, **z): #별표 2개 동시에 쓰고 싶을 때 *가 앞에 오고 그 뒤에 **가 와야한다.
    return x,y,z

In [83]:
moon_sun(1,a=2,b=3,3,4,2,34) #순서가 안맞다고 에러뜸(positional error)

SyntaxError: positional argument follows keyword argument (<ipython-input-83-37d37b47e8ae>, line 1)

In [84]:
moon_sun(1,23,3,4,a=2,b=34)

(1, (23, 3, 4), {'a': 2, 'b': 34})

In [85]:
moon_sun(1,2,4,2,34,{1:'3'})

(1, (2, 4, 2, 34, {1: '3'}), {})

In [86]:
moon_sun(1,y=[2,4,2,34],z={1:'3'})

(1, (), {'y': [2, 4, 2, 34], 'z': {1: '3'}})

In [87]:
x = {1:'a', 2:'b'}
y = {2:'c', 3:'d'}

In [88]:
z = {**x, **y} # **를 통해서 unpacking해서 넣어줄 수 있다. (immutable -> mutable)

In [89]:
z

{1: 'a', 2: 'c', 3: 'd'}

 \*\*는 Unpacking해준다. (\*와 \*\*의 기능들 알아둘 것)

In [90]:
def temp_func (x):
    try :
        x[0]
    except:
        print("sequence가 아니다.")
        return
    if type(x) == dict:
        print("sequence가 아니다")
    else:
        print("sequence이다")

In [91]:
temp_func("#") # hasattr()으로 쓸 수도 있다. (hasattr()의 경우 어떠한 클래스에 대해서 멤버변수가 있는지 확인할 수 있도록하는 함수)

sequence이다

In [92]:
def type_check(x):
    if isinstance(x, (list,tuple,range)):
        print('xxx')

In [93]:
type_check([1,2,3])

xxx

함수를 쓸 때 2가지 방식이 있다.

In [94]:
def moon_sun(x, **y):
    return x,y

In [95]:
moon_sun(0, a=3, b=2)

(0, {'a': 3, 'b': 2})

In [96]:
moon_sun(0,**{'1':2,'2':3})

(0, {'1': 2, '2': 3})

In [97]:
moon_sun(1,**{1:2,'2':3}) #에러 -> key는 string이 되어야한다 (1의 경우 string이 아닌 integer로 쓰임)

TypeError: moon_sun() keywords must be strings

In [98]:
def moon_sun(x,*y):
    return x,y

In [99]:
moon_sun(1,*[2,3,3,4,5]) #함수의 인자로 들어갈 때는 무조건 풀어서 들어가야 한다

(1, (2, 3, 3, 4, 5))

In [100]:
a = {'a':1, 'b':2, 'c':3}

In [101]:
for i in a: #in은 key만 iteration해준다
    print(i)

a
b
c

In [102]:
for i in a.values():
    print(i)

1
2
3

In [103]:
for i in a.items(): # a.items()는 튜플로 나오기 때문에 Unpacking이 가능하다
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [104]:
for i,j in a.items(): #.items()는 key와 value 모두 사용할 수 있게 해준다
    print(j)

1
2
3

dictionary의 key가 숫자, 튜플 일 때  함수 argument로 못들어간다.

python함수는 first class citizen -> 관련된 것들이 data처럼 사용될 수 있다(=할당이 가능하다, 함수의 인자, 함수의 리턴값, 자료형의 자료로 들어갈 수 있다)

함수가 그러면 first class function이라고 한다.

high-order function은 함수를 리턴하거나 함수를 인자로 받을수 있는(=argument로 받을 수 있는) function이다.

따라서 first class function이면 무조건 high-order function이다

high-order 기능을 가지는 것들은 함수형 기법을 가진다.

함수형 기법은 빅데이터 유행 이후 굉장히 유용해짐

In [105]:
from collections import OrderedDict #dict 이지만 sequence 특징을 부여해준 OrderedDict

데이터 분석을 할 때 일단 데이터가 필요!

python 자체로 open, pandas이용해서 open.

*데이터 전처리부터 시작해서 최적화하는데 필요한 Tool : pandas

python은 객체지향. 그래서 module 또한 객체지향

In [106]:
import seaborn as sns
type(sns)

module

In [107]:
dir(sns)

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'cm',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'jointplot',
 'kdeplot',
 'light_palette',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'pointplot',
 'rcmod',
 'regplot',
 'regression',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [108]:
data = sns.load_dataset('tips') #github에서 데이터를 갖고오는 것이다. 갖고와서 pandas에서 데이터 정제ㅠ

OSError: Initializing from file failed

In [109]:
import pandas as pd

In [111]:
data = pd.read_csv("seaborn-data/tips.csv") # seaborn이 되지 않아 pandas로 대체...

In [112]:
data.info() # csv파일을 불러온 데이터에 대한 정보 출력해줌.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.4+ KB

In [113]:
data.columns # 데이터의 컬럼들을 출력해줌.

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [114]:
data.groupby('sex').mean() # 데이터 값들을 'sex'컬럼에 대해 group지어 평균내줌.

        total_bill       tip      size
sex
Female   18.056897  2.833448  2.459770
Male     20.744076  3.089618  2.630573

In [115]:
import inspect # inspect모듈은 살아있는 객체에 대한 정보를 알려주는 모듈이다.

In [116]:
inspect.getsource(sns.load_dataset)

'def load_dataset(name, cache=True, data_home=None, **kws):\n    """Load a dataset from the online repository (requires internet).\n\n    Parameters\n    ----------\n    name : str\n        Name of the dataset (`name`.csv on\n        https://github.com/mwaskom/seaborn-data).  You can obtain list of\n        available datasets using :func:`get_dataset_names`\n    cache : boolean, optional\n        If True, then cache data locally and use the cache on subsequent calls\n    data_home : string, optional\n        The directory in which to cache data. By default, uses ~/seaborn-data/\n    kws : dict, optional\n        Passed to pandas.read_csv\n\n    """\n    path = ("https://raw.githubusercontent.com/"\n            "mwaskom/seaborn-data/master/{}.csv")\n    full_path = path.format(name)\n\n    if cache:\n        cache_path = os.path.join(get_data_home(data_home),\n                                  os.path.basename(full_path))\n        if not os.path.exists(cache_path):\n            urlretrieve(full_path, cache_path)\n        full_path = cache_path\n\n    df = pd.read_csv(full_path, **kws)\n    if df.iloc[-1].isnull().all():\n        df = df.iloc[:-1]\n\n    if not pandas_has_categoricals:\n        return df\n\n    # Set some columns as a categorical type with ordered levels\n\n    if name == "tips":\n        df["day"] = pd.Categorical(df["day"], ["Thur", "Fri", "Sat", "Sun"])\n        df["sex"] = pd.Categorical(df["sex"], ["Male", "Female"])\n        df["time"] = pd.Categorical(df["time"], ["Lunch", "Dinner"])\n        df["smoker"] = pd.Categorical(df["smoker"], ["Yes", "No"])\n\n    if name == "flights":\n        df["month"] = pd.Categorical(df["month"], df.month.unique())\n\n    if name == "exercise":\n        df["time"] = pd.Categorical(df["time"], ["1 min", "15 min", "30 min"])\n        df["kind"] = pd.Categorical(df["kind"], ["rest", "walking", "running"])\n        df["diet"] = pd.Categorical(df["diet"], ["no fat", "low fat"])\n\n    if name == "titanic":\n        df["class"] = pd.Categorical(df["class"], ["First", "Second", "Third"])\n        df["deck"] = pd.Categorical(df["deck"], list("ABCDEFG"))\n\n    return df\n'

python은 객체지향프로그래밍 이면서 일부적으로 functional programming을 지원해준다.

객체.function 형태를 합성함수처럼 f(g(x))처럼 만들어줄 수 있다.

간결하고, for를 없애는 기법들....(iterator, generator)

In [117]:
a_list = []
for i in range(1,11):
    a_list.append(i)
print(a_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [118]:
i #i값이 10이 나온다 -> i의 scope가 global(전역)으로 전이된다

10

In [119]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [121]:
(x for x in range(1,11) if x%2==0) #list도 되고 set도 된다. 중첩도 가능하다

In [122]:
[a for a in x for x in range(1,11)] #comprehension기법 -> for를 한단계 간단하게하는것이다

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [123]:
[range(1,11)]

[range(1, 11)]

In [124]:
list(range(1,11)) #합성함수 -> 함수 안에 함수가 들어가 있다. == 함수형 프로그래밍

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [125]:
'문근영'.replace('영','영은 예쁘다').replace('은 ', '은 엄청 ') #side effect가 없어서 함수형 프로그래밍을 한다.

'문근영은 엄청 예쁘다'

함수형 프로그래밍 3가지 방법이 있다(꼭 알아둘것!!)
map, filter, reduce

In [126]:
sum(range(1,11))

55

In [127]:
list(map(lambda x:x+2, range(1,11)))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [128]:
list(map(lambda x:x+2, (1,2,3)))

[3, 4, 5]

In [129]:
list(map(lambda x:x+2, [1,2,3]))

[3, 4, 5]

In [130]:
list(map(lambda x:x+2, "abc"))

TypeError: must be str, not int

In [131]:
(1,2,3)+(2,)

(1, 2, 3, 2)

map : 어떤 함수 형태도 mapping해주는 것이다.

In [132]:
def add_two(x):
    return x+2

In [133]:
map(add_two, {1,2,3})

함수형 패러다임을 가지는 언어는 보통 람다식을 지원해준다.

In [134]:
filter(lambda x:x>3, [1,2,3,4,5,6])

In [135]:
list(filter(lambda x:x>3, [1,2,3,4,5,6]))

[4, 5, 6]

In [136]:
all([" ",[],(),{}])

False

In [137]:
all([1,2,3])

True

In [138]:
any([0,0,1])

True

In [139]:
sorted([1,3,2])

[1, 2, 3]

In [140]:
sorted(['A','a'],key = str.lower)

['A', 'a']

map, filter, reduce를 통해서 안에 람다식, 함수를 넣어서 간단하게 만들 수 있다.(loop를 없애준다)

iterable이 들어간 애들은 대부분 함수형 기법으로 쓸 수 있다고 보면 된다

In [141]:
a = enumerate([1,2,3])

In [142]:
a

In [143]:
b = (x for x in range(10))
b

In [144]:
def a():
    return [1,2,3,4,5]

In [145]:
xx = a()

In [146]:
type(xx)

list

In [147]:
for a in a():
    print(a)

1
2
3
4
5

In [148]:
b = (x for x in range(10))

In [149]:
b

In [150]:
print(list(b))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [151]:
for i in b:
    print(i)

generator들은 lazy기법... -> 실행속도는 빠름. 메모리에 큰 걸 다 못올리는 경우가 있음
range기법은  -> 하나씩 올리기 때문에 속도는 느린데, 메모리에 여유가 있다.

In [152]:
for i,j in enumerate(range(11)): #enumerate는 각각 인덱스를 부여해준다. 인덱스 시작옵션을 줄수 있다. 대표적인 generator. 함수형 기법
    print(i,j)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [153]:
for i in map(lambda x:x+1, range(10)): #엑셀이랑 비슷한 기법이다.
    print(i)

1
2
3
4
5
6
7
8
9
10

In [154]:
a = 3
b = 4 if a>1 else 0

In [155]:
[x if x>5 else "" for x in range(10)]

['', '', '', '', '', '', 6, 7, 8, 9]

In [156]:
[x for x in range(10) if x>5]

[6, 7, 8, 9]

In [157]:
for i in range(2,10):
    for j in range(1,10):
        print(i, " * ", j, " = ", i*j)

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [158]:
[str(x) + " * " + str(y) + " = " + str(x*y) for x in range(2,10) for y in range(1,10)]

['2 * 1 = 2',
 '2 * 2 = 4',
 '2 * 3 = 6',
 '2 * 4 = 8',
 '2 * 5 = 10',
 '2 * 6 = 12',
 '2 * 7 = 14',
 '2 * 8 = 16',
 '2 * 9 = 18',
 '3 * 1 = 3',
 '3 * 2 = 6',
 '3 * 3 = 9',
 '3 * 4 = 12',
 '3 * 5 = 15',
 '3 * 6 = 18',
 '3 * 7 = 21',
 '3 * 8 = 24',
 '3 * 9 = 27',
 '4 * 1 = 4',
 '4 * 2 = 8',
 '4 * 3 = 12',
 '4 * 4 = 16',
 '4 * 5 = 20',
 '4 * 6 = 24',
 '4 * 7 = 28',
 '4 * 8 = 32',
 '4 * 9 = 36',
 '5 * 1 = 5',
 '5 * 2 = 10',
 '5 * 3 = 15',
 '5 * 4 = 20',
 '5 * 5 = 25',
 '5 * 6 = 30',
 '5 * 7 = 35',
 '5 * 8 = 40',
 '5 * 9 = 45',
 '6 * 1 = 6',
 '6 * 2 = 12',
 '6 * 3 = 18',
 '6 * 4 = 24',
 '6 * 5 = 30',
 '6 * 6 = 36',
 '6 * 7 = 42',
 '6 * 8 = 48',
 '6 * 9 = 54',
 '7 * 1 = 7',
 '7 * 2 = 14',
 '7 * 3 = 21',
 '7 * 4 = 28',
 '7 * 5 = 35',
 '7 * 6 = 42',
 '7 * 7 = 49',
 '7 * 8 = 56',
 '7 * 9 = 63',
 '8 * 1 = 8',
 '8 * 2 = 16',
 '8 * 3 = 24',
 '8 * 4 = 32',
 '8 * 5 = 40',
 '8 * 6 = 48',
 '8 * 7 = 56',
 '8 * 8 = 64',
 '8 * 9 = 72',
 '9 * 1 = 9',
 '9 * 2 = 18',
 '9 * 3 = 27',
 '9 * 4 = 36',
 '9 * 5 = 45',
 '9 * 6 = 54',
 '9 * 7 = 63',
 '9 * 8 = 72',
 '9 * 9 = 81']

In [159]:
[(x, y,x*y) for x in range(2,10) for y in range(1,10)]

[(2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [160]:
[(x, y,x*y) for x in range(2,10) for y in range(1,10) if x*y % 2 == 1]

[(3, 1, 3),
 (3, 3, 9),
 (3, 5, 15),
 (3, 7, 21),
 (3, 9, 27),
 (5, 1, 5),
 (5, 3, 15),
 (5, 5, 25),
 (5, 7, 35),
 (5, 9, 45),
 (7, 1, 7),
 (7, 3, 21),
 (7, 5, 35),
 (7, 7, 49),
 (7, 9, 63),
 (9, 1, 9),
 (9, 3, 27),
 (9, 5, 45),
 (9, 7, 63),
 (9, 9, 81)]

In [161]:
def ax(a,x):
    return a*x

[ax(a,x) for a in range(2,10) for x in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

filter는 generator 객체이기 때문에 직접 표현할 수 는 없고 타입을 바꿔주어서 출력 해야한다

In [162]:
[(a,b,c) for a in range(1,4) for b in range(4,7) for c in range(7,10)]

[(1, 4, 7),
 (1, 4, 8),
 (1, 4, 9),
 (1, 5, 7),
 (1, 5, 8),
 (1, 5, 9),
 (1, 6, 7),
 (1, 6, 8),
 (1, 6, 9),
 (2, 4, 7),
 (2, 4, 8),
 (2, 4, 9),
 (2, 5, 7),
 (2, 5, 8),
 (2, 5, 9),
 (2, 6, 7),
 (2, 6, 8),
 (2, 6, 9),
 (3, 4, 7),
 (3, 4, 8),
 (3, 4, 9),
 (3, 5, 7),
 (3, 5, 8),
 (3, 5, 9),
 (3, 6, 7),
 (3, 6, 8),
 (3, 6, 9)]

이렇게 함수형 기법은 루프를 없애는 것이다. -> 보통 iterable한게 parameter로 나오면 함수형 기법을 쓸 수 있다

함수형 기법은 mutable을 쓰지 않는다

In [163]:
## 중요함!!!!
def mutable(x,y=[]): #절대로 함수에서 default값으로 mutable한 객체를 쓰면 안된다
    y.append(x)
    return y

mutable(1)

[1]

In [164]:
mutable(2)

[1, 2]

In [165]:
mutable(3)

[1, 2, 3]

mutable은 자기 자신이 변할수 있는 객체이다. 그래서 예상한 것과 다르게 결과값이 나온다
그래서 함수형 프로그래밍에서는 함수 인자로 mutable한 객체를 넣지 마라

함수형 프로그래밍에서는 상태 체크를 하지 않기 때문에 mutable객체를 쓰지 않는다

In [166]:
import time
time.time()

1538731820.3215182

In [167]:
def time_at(time=time.time()):
    return time

In [168]:
time_at()

1538731822.4139235

In [169]:
time_at()

1538731822.4139235

In [170]:
time.sleep(5)

In [171]:
time_at()

1538731822.4139235

parameter로 줬기 때문에 시간이 고정이 되어있다.

default값은 mutable인 것을 넣는다면 예상치 못한 값이 나올 수 있다.

In [172]:
def moon(self=None):
    return self

In [173]:
moon()

In [174]:
moon(1)

1

In [175]:
x = 1
def a() :
    x=2
    print('----',x)
    return x

print(a())
print(x) #scope : 생존하는 범위

---- 2
2
1

LEGB (local, enclosing function local ,global, builtin)  
  
L Local: 함수 내 정의된 지역 변구  
E Enclosing Function Local: 함수를 내포하는 또다른 함수 영역  
파이썬은 다른 언어와 다르게 함수 내부에 또 다른 함수를 정의 할 수 있다.(내포된 함수)  
G Global: 함수 영역에 포함되지 않는 모듈 영역  
B Built-in: 내장 영역

In [176]:
x = 1
y = 3
def a():
    global x
    x += 3
    print('----',x)
    print('----',y)
    return x

print(a()) # y의 경우 없기 때문에 밖의 y를 가져온다
#global을 통해서 함수 안에서 밖의 x값을 바꿔버린다.
#global이 선언 되어 있지 않다면 함수 내에 x값이 선언되어 있지 않기 때문에 에러가 뜬다

---- 4
---- 3
4

In [177]:
import keyword as kw
kw.kwlist 
#nonlocal??? -> 파이썬은 함수안에 함수를 선언할 수 있다.

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [178]:
x = 1
y = 3
def a():
#     x = 2
    def b(): # 함수 안에 함수를 선언
#         global x
        nonlocal x
        return x
    x = 2
    return b

print(a()()) # javascript에도 있는 기법.

2

만약 함수 안에서 밖의 변수를 바꾸고 싶다면 함수 내에서 먼저 global선언을 해주고 바꿔야지 함수 밖의 변수를 바꿔줄 수 있다

함수를 2중으로 중첩되었을 경우 안의 함수에서 변수를 nonlocal선언 해주면 바깥의 함수의 변수에 대해서 바꿔 준다.

In [179]:
 a, b = 3,4

In [180]:
a,b = b,a

In [181]:
a

4

In [182]:
b

3

2중 중첩된 함수에서 안에 내장된 함수는 밖에서 바로 불러올 수 없다